<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.example.demo.Student" >
        <constructor-arg ref="usthschool"/>
    </bean>
    <bean id="usthschool" class="com.example.demo.USTHSchool">
        <property name="name" value="usth here"/>
    </bean>

    <bean id="bkschool" class="com.example.demo.BKSchool">
        <property name="name" value="BK here"/>
    </bean>
</beans>